@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

.d-page {
  font-size: small;
  text-transform: lowercase;
}

p {
  margin-top: 5px;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }
}
