<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>semyonf.wallace-apple-dictionary</string>
	<key>CFBundleName</key>
	<string>Wallace Dictionary</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Semyon Fomin</string>
	<key>DCSDictionaryCopyright</key>
	<string>Semyón Fomín • https://github.com/semyonf/wallace-apple-dictionary
	Definitions parsed from https://infinitejest.wallacewiki.com</string>
	<key>DCSDictionaryUseSystemAppearance</key>
	<true/>
</dict>
</plist>
